In [3]:
#Tasks To Be Performed:
#1. Create a list named ‘myList’ that has the following elements: 10, 20, 30, ‘apple’, True, 8.10:
# Creating myList
myList = [10, 20, 30, 'apple', True, 8.10]
#a. Now in the ‘myList’, append these values: 30, 40
# Appending values 30 and 40
myList.append(30)
myList.append(40)
#b. After that, reverse the elements of the ‘myList’ and store that in ‘reversedList’
# Reversing the elements and storing in reversedList
reversedList = list(reversed(myList))

print("Original list:", myList)
print("Reversed list:", reversedList)

Original list: [10, 20, 30, 'apple', True, 8.1, 30, 40]
Reversed list: [40, 30, 8.1, True, 'apple', 30, 20, 10]

In [4]:
#2. Create a dictionary with key values as 1, 2, 3 and the values as ‘data’, ‘information’ and ‘text’:
# Creating the dictionary
my_dict = {1: 'data', 2: 'information', 3: 'text'}
#a. After that, eliminate the ‘text’ value from the dictionary
del my_dict[3]
#b. Add ‘features’ in the dictionary
my_dict[3] = 'features'
#c. Fetch the ‘data’ element from the dictionary and display it in the output
data_element = my_dict[1]

print("Updated dictionary:", my_dict)
print("Fetched data element:", data_element)

Updated dictionary: {1: 'data', 2: 'information', 3: 'features'}
Fetched data element: data

In [5]:
#3. Create a tuple and add these elements 1, 2, 3, apple, mango in my_tuple.
# Creating my_tuple
my_tuple = (1, 2, 3, 'apple', 'mango')

print("my_tuple:", my_tuple)

my_tuple: (1, 2, 3, 'apple', 'mango')

In [9]:
#4. Create another tuple named numeric_tuple consisting of only integer values 10, 20, 30, 40, 50:
#a. Find the minimum value from the numeric_tuple
#b. Concatenate my_tuple with numeric_tuple and store the result in r1
#c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’
# Creating numeric_tuple
numeric_tuple = (10, 20, 30, 40, 50)

# Finding the minimum value
min_value = min(numeric_tuple)

# Concatenating my_tuple with numeric_tuple
r1 = my_tuple + numeric_tuple

# Duplicating my_tuple 2 times
newdupli = my_tuple * 2

print("numeric_tuple:", numeric_tuple)
print("Minimum value in numeric_tuple:", min_value)
print("Concatenated tuple (r1):", r1)
print("Duplicated tuple (newdupli):", newdupli)

numeric_tuple: (10, 20, 30, 40, 50)
Minimum value in numeric_tuple: 10
Concatenated tuple (r1): (1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)
Duplicated tuple (newdupli): (1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

In [13]:
#5. Create 2 sets with the names set1 and set2, where set1 contains {1,2,3,4,5} and set2 contains {2,3,7,6,1} Perform the below operation:
#a. set1 union set2
#b. set1 intersection set2
#c. set1 difference set2
# Creating sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 7, 6, 1}

# Performing union
union_set = set1.union(set2)

# Performing intersection
intersection_set = set1.intersection(set2)

# Performing difference
difference_set = set1.difference(set2)

print("Set1:", set1)
print("Set2:", set2)
print("Union of set1 and set2:", union_set)
print("Intersection of set1 and set2:", intersection_set)
print("Difference of set1 and set2:", difference_set)

Set1: {1, 2, 3, 4, 5}
Set2: {1, 2, 3, 6, 7}
Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7}
Intersection of set1 and set2: {1, 2, 3}
Difference of set1 and set2: {4, 5}